<?xml version="1.0"?>

<robot xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:xacro="http://ros.org/wiki/xacro" name="magician">

  <xacro:include filename="$(find dobot_description)/model/magician.urdf.xacro"/>


  <link name="magician_root_link"/>

  <xacro:property name="robot_root" value="magician_root_link" />

  <xacro:magician  base_parent="${robot_root}"/>

  <!-- RealSense Camera Definition -->
  <link name="realsense_base">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.05"/>
      </geometry>
    </visual>
  </link>

  <!-- Fixed Joint for RealSense -->
  <joint name="realsense_joint" type="fixed">
    <parent link="${robot_root}"/>
    <child link="realsense_base"/>
    <!-- Adjust the position of the RealSense camera relative to magician -->
    <origin xyz="0.5 0.0 0.5" rpy="0 0 0"/>
  </joint>

</robot>
